USERNAME=Yassin
PASSWORD=super_secret
SERVER=ws://127.0.0.1:8000/ws
HTTP_SERVER=http://127.0.0.1:8000
DATABASE_PATH=chat.db
NOTIFICATIONS=true
DOWNLOAD_DIR=chat/client/downloads
UPLOAD_DIR=chat/server/uploads
MAX_FILE_SIZE=500MB
LOG_LEVEL=INFO
